/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #888484;
    color: #ff0000;
    margin: 0;
    padding: 0;
    background-image: url('../multimedia/fondotodo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Párrafos */
p {
    color: #ffffff;
    margin: 20px 0;
    text-decoration: none;
}
